<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %} Nautical charts updating {% endtrans %}</h1>
                          <p>{% trans %}This section illustrates how ERS images can help updating nautical maps and support the navigation in shallow estuaries.<br><br>Updating nautical charts using remote sensing images requires in particular being able to follow the coastline and accurately locate the images on the surface of the terrestrial globe. Once the useful information has been extracted from the images and after checking their location, they are associated with the other information already available for the production of the maps.<br><br>Illustration title: Old SHOM map of the Cayenne region.{% endtrans %} </p>
						  
						  <div id="marine1" >
                          <img src="{{asset('marine/introMarine.jpeg')}}"  style="margin: 20px;"/>

                          </div>
						  
                          {#...#}
						  <br>
                          <h2>{% trans %}Monitoring changes in coastal features  {% endtrans %}</h2>
                          <p> {% trans %}ERS-SAR images allow to monitor changes in coastal features. This sequence of images acquired between 1992 and 1999 shows important changes. It deals with the phenomena of erosion and sedimentation that can extend up to several hundred metres, or even kilometres in certain areas. In the 1992 image, the light line coinciding with the coastline corresponds to a zone where the ground is strewn with dead trees. The areas in dark located beyond the coastline, towards the open sea, correspond to smooth mud banks, whilst the bright spots indicate very rough zones of young vegetation. <br><br>Title illustration: Successive coastlines 1992, 1993, 1999 over the Sinnamary region.{% endtrans %} </p>
						  <div id="marine2" >
						  <img src="{{asset('ajout/4-cartemarine/erosionsinnamary.jpg')}}"  style="margin: 20px;"/>
                          </div>
                          <!--<div id="monitoring"></div>-->
						   <p>{% trans %}Complement: IGN localization map.<br>Complement:  IGN localisation{% endtrans %} </p>
						   <div id="marine3" >
						   <img src="{{asset('loc/sinna.jpeg')}}"  style="margin: 20px;"/>
                           </div>
						   
                          {#...#}
						  <br>
                          <h2>{% trans %}Georeferencing quality control {% endtrans %}</h2>
                          <p> {% trans %}Modern GPS (Global Positioning System) type positioning tools placed on a helicopter allow the recording of geographic coordinates of a trajectory within a given system of reference, and also the application of measurements to the image, which is also inserted in the same reference system. The quality of initial image geo referencing can thus be effectively verified. This interesting technique can prove very useful in particular landscapes, where it is hard to take ground reference points, although these are precisely located in the images. <br><br>Title of illustration: In white: plotting of GPS positions from a helicopter having flown over the coastline, superimposed on a multitempo ra I ERS SAR image of 3 different scenes. The coloured spots correspond to different shots at different dates of sand and mud banks and young vegetation according to tidal levels.{% endtrans %} </p>
                          <div id="georeferencing" >
                          <img src="{{asset('marine/qualite/oya.jpeg')}}"  style="margin: 20px;"/>
						  </div>
						  
						   <p>{% trans %}Video supplement: Overview of the coastline to geolocate it.<br>Complément vidéo : Survol du trait de côte pour le géolocaliser{% endtrans %}</p>
                          <div id="georeferencing" >
						   <p style = "display:grid; justify-content:center; align-content:center;" >

                            <video video width="480" height="360" controls>
                            <source src="{{asset('marine/qualite/helico.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                            </video>
                            </div>
							</p>
							<p></p>
                          
            
                          {#...#}
						  
                          <h2>{% trans %}The Cayenne and Kourou examples{% endtrans %}</h2>
                          <p> {% trans %}In a coastal region evolving quickly, a regular update of nautical maps is needed. The Tidal limits in the SHOM (Service Hydrographique et Océanographique de la Marine) nautical charts No. 7379 of the area around Cayenne and No. 7980 of the area around Korou have been partially updated thanks to the use of georeferenced ERS SAR images. The same procedure was followed in updating the other maps covering the entire French Guiana coastline. SHOM intends to apply this updating method to numerous coastal areas where only radar images can help, because of hard climatic conditions (African coasts, Antarctic regions...) The areas where updating nautical charts by the help of satellite radar images can be particularly significant are those located either at low latitudes (tropical zones) or at extremely high latitudes. In particular, tropical areas having to face quick changes can benefit from the use of satellite radar imagery, as the cartography is old and recent information is unavailable.  <br><br>Title of the Illustrations: Comparison between extracts from the SHOM nautical chart and the colored composition of 3 ERS scenes (Red Sep99, Green Sept93, Blue May92), succes-sively on Cayenne (EW dimension of the extract, about 18km) and Kourou (EO dimension of the extract, about 40km). Continuous switch from image to card.{% endtrans %} </p>
						  
						  <div id="ign-relief" style="background-image: url('{{asset('marine/oeuvre/cay01.jpeg')}}'); background-repeat:no-repeat; margin-bottom: 20px; padding: 0;background-size: contain;">
                          <img src="{{asset('marine/oeuvre/cay02.jpeg')}}" id="cayenne" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence_cay" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
                        </div>
						
						<div id="ign-relief" style="background-image: url('{{asset('marine/oeuvre/kour01.jpeg')}}'); background-repeat:no-repeat; margin-bottom: 20px; padding: 0;background-size: contain;">
                          <img src="{{asset('marine/oeuvre/kour02.jpeg')}}" id="kourou" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence_kour" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
                        </div>
						
						<p>{% trans %}<br>Additional Field views for Cayenne:<br> Photo1 Cayenne city center <br>Photo2 'Lacrique'  <br>Photo3 To the east, the Cayenne river{% endtrans %}</p>
						
						  
                          <div id="cayenne2"></div>
						  
						  
						  <p>{% trans %}Additional Terrain view for Kourou: Overview of the town of Kourou{% endtrans %}</p>
						  
						  
                          <div id="marine4" >
						   <img src="{{asset('marine/oeuvre/Kourou-vil2.jpeg')}}"  style="margin: 20px;"/>
                           </div>
<br>
                          <h2>{% trans %}Bathymetry in shallow sea bottoms{% endtrans %}</h2>
                          <p> {% trans %}In certain areas close to the coast, the temporary existence of sand or mud banks makes navigation dangerous because the maps reflect these rapid changes. The ERS radar satellite, whose revisit time is of the order of a month, on the other hand allows the renewal of qualitative information on the shallows, less precise than the bathymetric surveys but very useful for navigation. Surface Water roughness is detected with a high sensitivity by the radar instrument. Roughness may depend primarily on meteorological conditions and sea currents, which in turn are linked to the underwater topography of a given site (with a less than 20 metres depth). Especially at river estuaries with strong currents, radar images can provide useful information on bathymetry.As an example, this ERS MR multitemporal image derived from 3 images at different dates allows to monitor current lines in the Oyapock Estuary. The superimposition of bathymetric lines taken from an old Brasilian map permits to identify the main shoals. The map/image comparison also shows that the map could be corrected in several points: in particular, most can be noticed in the coastline and in the southern part of an islet in the middle of the river. <br><br>Title of the illustration:  ERS Image of the Oyapock Estuary.{% endtrans %} </p>
						  
						  
                          <div id="marine5" >
						   <img src="{{asset('marine/bathy/bathy2.jpeg')}}"  style="margin: 20px;"/>
                           </div>
                          
						  
						  
						  <p> {% trans %}Complement: ERS image with bathymetry and legend of the bathymetry.{% endtrans %} </p>
						  
						  
                          <div id="marine6" >
						   <img src="{{asset('ajout/4-cartemarine/carte marine.jpg')}}"  style="margin: 20px;"/>
                           </div>
						  
                          <!--<div id="bathy"></div>-->
						  
						  <br>
						  <h2>{% trans %}Deep and small sea exploration{% endtrans %}</h2>
                          <p> {% trans %}Traditional bathymetric surveys are conducted by oceanographic ships at depths above 20 metres. Although more precise, those surveys are very hard and highly expensive. They are generally accompanied by other geophysical measurements for a better understanding of the coastal dynamics. In shallow sea bottoms near coastlines, the readings are carried out by specially equipped, low-drawing boats, often unavailable outside the industrialised world. That is why the bathymetry of so many coastal regions is not known enough. <br><br>Title of Illustration: The funds of a few meters raised from a small boat.{% endtrans %} </p>
						  
						  

                           <div id="marine7" >
						   <img src="{{asset('marine/bathy/marins.jpeg')}}"  style="margin: 20px;"/>
                           </div>
						
						  
						  <p> {% trans %}Complement Video: The Entrecasteaux oceanographic vessel, installation of exploration equipment{% endtrans %} </p>
                          <div id="bathy2"></div>
							 <p style = "display:grid; justify-content:center; align-content:center;" >
                            <video video width="480" height="360" controls>
                            <source src="{{asset('video/bathy.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                            </video>
							</p>
                          


        </div>                                
    </div>
</div>

<a href="{{path('chapters',{chapter:'them_carto'})}}" style='font-size:24px; float: left;margin-left: 20px;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}Previous{% endtrans %}</a>

<a href="{{path('chapters',{chapter:'general_carto'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>

{% block javascript %}
<script>
  $(document).ready(
    function main(){
        getImages('thema/kourou','veg_kourou');
        //getImages('thema/culture','monitoring');
        getImages('thema/geol','geology');
        getImages('marine/bathy','bathy');
		getImages('marine/oeuvre/cayenne2','cayenne2');

 });
        $('#transparence_cay').on('input',()=>{
        var n=$('#transparence_cay').val();
        $('#cayenne').css("opacity",n/100);;
        affiche(n);
    });
	
	$('#transparence_kour').on('input',()=>{
        var n=$('#transparence_kour').val();
        $('#kourou').css("opacity",n/100);;
        affiche(n);
    });
	
</script>
{% endblock %}