		<!--<a href="{{ path('change_locale',{'locale': 'fr'}) }}"> {{lang['fr']}}</a>-->
		<div id="container2">
			<div id="home">
					<div style ="grid-row: 1;grid-column: 1; margin-right:17%;">
					<button id="fr_btn" name="fr" value="Français" onclick="window.location.href='{{ path('chapters',{chapter:'lienFr'}) }}';">Français</button>
					</div>
					<div style ="grid-row: 1;grid-column: 3;margin-left:17%;">
					<button  id="eng_btn" name="eng" value="ENG" onclick="window.location.href = '{{path('chapters',{chapter:'lienEn'})}}'">Anglais</button>
					</div>

				<div style ="grid-row: 2;grid-column: 1 /span 3;">
				<img src="HOME/home.jpg"/>
				</div>

			</div>
		</div>

<script>

console.log(navigator.language);
</script>


<style type="text/css">
	#container2{
		display:grid;
    justify-content: center;
    align-content: center;
	}
	html{
		padding:0;
	}

	#JPtxt{
		grid-row: 2;
		grid-column: 2;
		z-index:2;
		word-wrap: break-word;

	}

	#important-note-from-JP{
		font-family:sans-serif;
		color:red;
	}



	#home{
		display: grid;
		grid-template-columns:  20% 60% 20%;
		grid-template-rows:  10% 90%;

		max-width:1000px;
	}

  #fr_btn, #eng_btn {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, #30ff64, #30ff64);
  cursor: pointer;
  }
  #home img{
	 object-fit:fill;
	 height:400px;
	 width:100%;
	 display: block;
  }

</style>
			  
<a href="{{path('chapters',{chapter:'About'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>
