<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %}Few words about radar images{% endtrans %}</h1>
                          <div id="video1"></div>
						  
                          <p>{% trans %}This site is mainly devoted to radar images from the ERS satellite, a satellite designed and launched by the European Space Agency in 1991. Images from the JERS radar satellite are also used in some applications.<br>Radar systems are active. They use centimetric electromagnetic waves (microwave range) to illuminate the earth's surface and measure the signals reflected by the surface (backscattering phenomenon). The assembly of the responses obtained taking into account the ground positions of the plots concerned allows the construction of images in a geometry close to the cartographic geometry.<br>Very important general property of radar images: they can be obtained day and night, regardless of cloudy conditions and precipitation; which makes it easier to create mosaics with many scenes, as shown in the illustration on this page. In a humid tropical context where cloud cover is almost permanent, 17 images were assembled in a few weeks.<br>The main characteristics of the system that influence the interaction of the wave with the earth's surface, and hence the properties of the image, are wavelength, polarization and spatial resolution. The spatial resolutions of ERS and JERS were similar, around 25m. These are the wavelengths and polarizations that explain the differences observed between images, VV polarization and wavelength of value 6 cm, classified in Band C, for ERS, and HH polarization, band L (wavelength 25cm) , for JERS. We will come back briefly later to the differences in sensitivity of the two bands C and L to roughness and vegetation cover. Polarization relates to the orientation of the electric field, in reception and in transmission. This double orientation of the field influences the backscattering of a given target and plays a role, along with the wavelength, on the nature of the images for a given landscape. You will find more information on ESA and ENSG courses available online:<br>https://sentinels.copernicus.eu/web/sentinel/missions/sentinel-1/sar-basic-theory-and-practical-exercises-with-snap-english<br>and cours-fad-public.ensg.eu/course/view.php?id=94<br>In the following, a short animation will recall the main properties of the images and several applications will be presented to show the interest of ERS images in different contexts (successively: relief, vegetation zone, coast, town of Kourou, Saut Maripa on the Oyapock river )<br>Complément Animation Video: <br>Principales caractéristiques du système radar, mode actif, jour et nuit, insensible aux nuages.<br> Main features of the radar system, active mode, day and night, insensitive to clouds and rain.{% endtrans %}</p>
						  
						  
						 
						  <div>
						   <p style = "display:grid; justify-content:center; align-content:center;" >
                        <video video width="480" height="360" controls><source src="{{asset('ajout/2-img rad/animation.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
						</p>
						</div>
						
						<p></p>
						
                          {#...#}
                          <h2>{% trans %}Relief {% endtrans %}</h2>
                          <p>{% trans %}Forest cover is very dense in the country's interior. The image is in fact a top vegetation image, because ERS radar waves barely penetrate the forest cover (ERS wave length is 6 cm). The impression on the relief is strong. The Geometric and radiometric distortions lead to the presence of relief due to the existence of a bright area, narrower than in reality with slopes facing the radar, and a darker area with slopes facing away: the contrast is naturally perceived by the human eye as a relief area.{% endtrans %}</p>	
						  
						<p>{% trans %}Title of illustration: Comparison between : an extract from 1993 ERS scene and an extract from the 1/100,000 scale topographic map.{% endtrans %}

                        <div id="ign-relief" style="background-image: url('{{asset('img_rad/relief/2_ign-relief.jpeg')}}'); background-repeat:no-repeat; margin-bottom: 20px; padding: 0;background-size:contain;">
                          <img src="{{asset('img_rad/relief/1_ers-relief.jpeg')}}" id="front" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
                        
						<p>{% trans %}Complement: <br> Photo de terrain, forêt dense  <br>   Field photo: dense forest cover{% endtrans %}
						
						<div id="photorelief"><img src="{{asset('img_rad/relief photo.jpeg')}}"/></div>
						
						<p>
						
						<p>{% trans %}Complement Video: Flight over the region where the dense forest cover is homogeneous. The canopy roof follows the shapes of the landform.{% endtrans %}
                        </div>
						 <p style = "display:grid; justify-content:center; align-content:center;" >
                        <video video width="480" height="360" controls><source src="{{asset('video/relief.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
						</p>
                          {#...#}
						  <p>
                          <h2>{% trans %}Areas of deforestation{% endtrans %}</h2>
                          <p> {% trans %}Deforested areas being transformed into food-producing areas are clearly distinguishable in ERS SAR images from densely forested areas.{% endtrans %}</p>
                          <div id="deforestation"><img src="{{asset('ajout/2-img rad/deforestationBilingue.jpg')}}"/></div>
                          {#...#}
						  <p>
  <h2>{% trans %}The coast {% endtrans %}</h2>
  <p>{% trans %}In this image showing part of Sinnamary region, smooth, mud flats (A) appear in black, while eroded areas (B), i.e. where the ground is covered with dead trees, are shown in bright.<br>Title of illustration: ERS image extract from 1997 and field photographs of the Sinnamary region{% endtrans %}</p>
						  
                          <div id="ajout"><img src="{{asset('ajout/2-img rad/cote sinnamaryBilingue .jpg')}}"/></div>
						  
                          {#...#}
						  
						  <p>
       <h2>{% trans %}The town of Kourou {% endtrans %}</h2>
	   <p>
	   <div id="ajout"><img src="{{asset('ajout/2-img rad/Kourou ville et CSpatial.jpg')}}"/></div>
	   <p>
  <p>{% trans %}The houses of Kourou and the installations of the European Space Centre stand out brightly in this radar image. Urban or industrialised areas look, instead, as degraded. This is due to the fact that the range of available grey levels in the initial data sets has to be reduced in order to be represented on the screen. This results in saturation of the brightest zones, and, consequently, poor resolution.<br><br>Complement: field photos:{% endtrans %} </p>


  <p>{% trans %}Photo1: <br> Ville de Kourou, à l'Est près de la rivière <br> City of Kourou: eastern end, by the river{% endtrans %}</p>
						  
						  <div id="ajout"><img src="{{asset('img_rad/kourouPhot.jpeg')}}"/></div>
						  
						  <p>
						  
						  <p>{% trans %}Photo2: <br>Centre Spatial, partie administrative et modèle grandeur nature de la fusée Ariane 5 <br> Kourou Space Center: Administrative buildings and full-scale model of Ariane5{% endtrans %}
						  
						  <div id="ajout"><img src="{{asset('img_rad/centre4.jpeg')}}"/></div>
						  
						  <p>

						  <p>{% trans %}Photo3: <br>Vue d'ensemble des installations <br> Kourou space center; distant view of the facilities{% endtrans %}</p>
						  
						  <div id="ajout"><img src="{{asset('img_rad/centre2.jpeg')}}"/></div>
						  
						  <p>
						  
						  <p>{% trans %}Photo4 <br>  Vue rapprochée des installations <br> Kourou Space Center; close-up view of the installations{% endtrans %}</p>
						  
						  <div id="ajout"><img src="{{asset('img_rad/Kouroucentrespa.jpeg')}}"/></div>
						  
                          <!-- <div id="kourou"></div> --!>
                          
                          {#...#}
						  <p>
                          <h2>{% trans %}The Maripa rapids {% endtrans %}</h2>
						 <p>
						  
						   <div id="ajout2"><img src="{{asset('ajout/2-img rad/sautmaripa.jpg')}}"/></div>
						  
						  
                          <p>{% trans %}Title of the illustration: ERS image and field shots on the Maripa jump <br>The rocky bars that restrict navigation on major rivers can be located in radar images by increasing the back scattering observed on the rocks and water turbulence, while the rest of the river appears black due to its smooth surface. In this ERS 1 SAR image extract, the river partition into several branches of different sizes is particularly impressive.<br><br>Complement Video: Flight over a jump where the river splits up into multiple arms; to navigate a canoe in these conditions requires great know-how{% endtrans %}</p>

                          <!--<div id="maripa_rapids"></div>-->
						   <p style = "display:grid; justify-content:center; align-content:center;" >
                        <video video width="480" height="360" controls>
                            <source src="{{asset('video/fleuve.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
						</p>
                          {#...#}
						  <p>

                          {#...#}
                          <h2>{% trans %}Behavior of microwaves{% endtrans %}</h2>
                          <h3>{% trans %}Behavior of microwaves on different media{% endtrans %}</h3>
                          <p>{% trans %}Let us quickly summarize how the radar response evolves with the properties of the surface based on the previous examples. The waves do not penetrate the surface of the water. If the surface is smooth, the reflection is specular, with no return to the antenna, and the image is dark. If the surface is rougher the response increases and the image becomes brighter. Note that the roughness of the surface is evaluated relative to the wavelength, with a roughness threshold separating the smooth and rough media of the order of a quarter of the wavelength (see the application above. 'Maripa jump '). In built-up areas, walls and other structures generally lead to strong responses and these areas then appear as light or even white spots on the images. (see the example 'the city of Kourou'). On vegetation and other natural environments, the very diverse surface conditions generally lead to responses that allow them to be differentiated. The response of the vegetation depends on a large number of parameters related to the biomass and the structure of the plants. The penetration into the canopy increases with the wavelength, which leads to different contrasts between bands C (ERS) and L (JERS) (see the application on the coastal plain of Kourou below). When the forest cover is dense and homogeneous, the energy response of the canopy is more uniform but, for geometric reasons, the radar image then essentially reflects the forms of the relief (See the example 'relief').{% endtrans %}</p>

						  <!--
                          <h3>{% trans %}Behavior of microwaves on houses{% endtrans %}</h3>
                          <p>{% trans %}Towns  imaged by radar as very rough surfaces, appear generally as bright spots. Buildings appear as bright dots (strong reflection) if the density of constructions is low. Examples include: 'The town of Kourou' (in this section), and  'The Cayenne and Kourou example'.{% endtrans %}</p>

                          <h3>{% trans %} Behavior of microwaves on the natural environment{% endtrans %}</h3>
                          <p>{% trans %}Types of vegetation cover found in natural landscapes are quite various. They can generally be discriminated due to their own back-scattering coefficient. Forested areas are characterised by intermediate back-scattering coefficients, the values of which depend on a great number of parameters: main shapes of trunks and branches, density and electrical properties of foliage, etc.. A dense and homogeneous forest ewer shows up in the image as uniform: the radar basics Ily'translates' the relief shapes. Examples include: 'Relief' (in this section), 'Geology • §'Thematic cartography'.{% endtrans %}</p>-->
        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'general_intro'})}}" style='font-size:24px; float: left;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}  Previous{% endtrans %}</a>
<a href="{{path('chapters',{chapter:'them_carto'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>
{% block javascript %}
<script>
  $(document).ready(
    function main(){
        //getImages('img_rad/main','slider1');
        //getImages('img_rad/relief','relief');
        getImages('img_rad/deforostation','deforostation');
        //getImages('img_rad/coast','coast');
        // getImages('thema/kourou','kourou');
        //getImages('img_rad/maripa_rapids','maripa_rapids');





    });
        $('#transparence').on('input',()=>{
        var n=$('#transparence').val();
        $('#front').css("opacity",n/100);;
        affiche(n);
    })
</script>
{% endblock %}