<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %}Thematic cartography {% endtrans %}</h1>
                          <p> {% trans %}The Various examples provided in this section enhance the intrinsic properties of satellite radar systems: to operate independently from climatic conditions and, therefore, to ensure repetitive, regular coverage even during the wet season to enable distinguishing clearly the relief in various and different landscapes.These characteristics support researchers in their studies and measurements.Two of the examples, namely 'Cartography of the vegetation around Kourou and 'The Petit Saut dam' show the complementarity of ERS and JERS japanese Earth Remote Sensing satellite missions.<br>Title of the illustrations:<br>Photo1 Sampling and analysis of sediments in the littoral zone.<br>Photo2 Sampling for the evaluation of biomass in a mangrove forest<br>Photo3 Determination of pollutants in the vicinity of a gold mining operation<br>Photo4 Checking the regularity of a gold mining site<br>Photo5 Field observation to document a radar image<br>Photo6 Preparation of a river route from a paper map<br>Photo7 Researcher in suit preparing a georeferencing flight<br>Photo8 Installation of a tide gauge and a current meter in shallow water<br>Photo9 After capsizing a canoe during a difficult jump<br> Photo10 Measuring boat for shallow water depths{% endtrans %}</p>
						  
						  <div id="thema1"></div>

                          <div id="slider1"></div>
                          {#...#}
						  <br>
                          <h2>{% trans %}Natural vegetation around Kourou  {% endtrans %}</h2>

                          <p> {% trans %}An area western of Kourou. A mangrove forest separates the ocean from the coastal plain. The plain consists of an irregular mix of forests, savannahs, and swamps. The document displayed is a multitemporal of two ERS-SAR images and one SAR image from the japanese JERS satellite. The latter operates in waves (L band) that penetrate the vegetation deeper than those operated by ERS (C band). The JERS satellite, therefore, supplies complementary information concerning the characteristics of the vegetation (density, structure, etc.). The multitemporal, multisensor image differentiates the types of vegetation more clearly than with an individual, isolated shot. It matches precisely the same limits shown by the 1:50,000 scale vegetation map of the area.<br>Title of illustration: Comparison between a  multitemporal image derived from two ERSSAR scenes and a JERS scene, and the vegetation map of the Kourou region (LET/ICIV) <br>Complement: Legend of the botanical map{% endtrans %}</p>
						  
                        <div id="ign-relief" style="background-image: url('{{asset('thema/3_erskourecdef.jpeg')}}'); background-repeat:no-repeat; margin-bottom: 20px; padding: 0;background-size: contain;">
                          <img src="{{asset('thema/2_vegetationdef.jpeg')}}" id="front_veg" style="margin: 0;"/></div>
                        <form>
                        <input type="range" id="transparence_veg" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 

						
						<div id="ajout2"><img src="{{asset('thema/kourou/legende/1_ALEGVEGET.jpeg')}}"/></div>
						  
                          <p> {% trans %}<br>Complement: field views <br>Photo1 Savannah and forest islands in the vicinity of the space center <br>Photo2 Eroding Mangrone <br>Photo 3 Flooded savannah.{% endtrans %}</p>
                          <div id="veg_kourou"></div>
                          
                          {#...#}
						  <br>
                          <h2>{% trans %}Monitoring cultivation {% endtrans %}</h2>
                          <h3>{% trans %}The Mana rice fields {% endtrans %}</h3>
                          <p> {% trans %}Rice fields are characterised by the presence of stagnant water and stems whose various heights and densities evolve according to their growth. The illustration is a colour merge of 3 ERS radar images acquired at different dates (Red May1993, Gree June 1992, Blue May1992).<br>  A series of radar images can help, after ground measurements, to monitor the temporal evolution of rice fields with cycles of various cultivations. The colours indicate the cultivation evolution and the levels of flooding at a certain date. <br>Title of  illustration: colored fusion of 3 ERS radar images (May 1993, June 1992, May1992), <br>Complement: IGN map of the southern region of Mana <br>Complement: field view of the rice fields.{% endtrans %}</p>
                          <div id="monitoring"></div>
                          <h3>{% trans %}Food producing areas {% endtrans %}</h3>
                          
                          <p> {% trans %}The brushwoods are small deforested areas to be converted into agricultural land. The First brushwoods in the Saint Laurent du Maroni region date back to the 1970's. At present. The most actively deforested zone stretches from the Mana crossroad to the town of Mana. along the Departmental Road 9. The cultivated brushwoods can be well distinguished in the ERS images from the dense surrounding forest.<br>Title of illustration ERS image from July 1997 where departmental roads have been underlined in red,<br>Complement IGN map of the region.<br>Complement: field views <br>Photo1 Aerial view of deforestation areas <br>Photo2 Cabins in a deforested area{% endtrans %}</p>
						  <div id="monitoring2"></div>
                          {#...#}
<br>
                          <h2>{% trans %} Geology {% endtrans %}</h2>
                          <p> {% trans %}The area of interest (40km*40km) is almost entirely covered by dense forest, the top of which is clearly shown by the ERS SAR image (C band low penetration). The comparison (continuous passage between image and map) with the BRGM geological map produced by Choubert in 1953 is very instructive: <br>• the alluvial  plain of the Comte river bed (in yellow in the geological map) stands out in the radar image thanks to its fine texture. <br>• one can also identify several types of rocky faces, the granite (fine isotropic texture), the schists (non isotropic texture made up of longer slices), and more massive basaltic rocks of greater altitude. I Within this context, where rain erosion is great, the forms of relief directly express the rocks resistance to erosion. <br>This example demonstrates how the presence of vegetation cover does not affect the potential of radar images for geomorphological analysis.<br>Title of the illustration: comparison between geological map and ERS image around the town of Roura (continuous map-image passage),area 40km*40km <br>Complement: Legend of the geological map <br>Complement: IGN localization map.{% endtrans %}</p>
						  
						  <div id="ign-relief2" style="background-image: url('{{asset('thema/geol/3_ers.jpeg')}}'); background-repeat:no-repeat; margin-bottom: 20px; padding: 0;background-size: contain;">
                          <img src="{{asset('thema/geol/2_geolext.jpeg')}}" id="front_veg2" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence_veg2" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
						</div> 
						
						<div id="geology"></div>
						<div id="geology2"></div>

                          {#...#}
						  <br>
                          <h2>{% trans %}The Petit Saut dam {% endtrans %}</h2>
                          <p> {% trans %}The Filling of the Petit Saut dam dates back to 1994. Main flooded area as well as traces of the old water routes appear in black in the ERS-SAR images. Barely distinguishable from the dense surrounding forests are the zones of flooded forest, where the trunks are only partially submerged. Images from the Japanese satellite lERS, on the other hand, show the flooded vegetation because of a greater penetration of its waves (L band) that amplifies (with polarization HH)  the backscattering of the water trunk interface. One can therefore distinguish the areas where the forest is partially submerged, in bright in the image. One can notice that the perception of the reservoir improves when comparing the JERS images of 1995 and 1997 with the ERS ones of 1995 and 1999. In the 1999 ERS image, an increased radiometric level for the reservoir surface probably corresponds to surface roughness induced by wind.<br>Title of illustration: Comparison between ERS and JERS images for the years 1995-1999 and 1995-1997. (continuous passage between the two periods) <br>Complement: Field views <br>Photo1:Overview of the dam<br>Photo2: view of the river downstream<br>Photo 3: Overview with submerged trunks<br>Photo4: Overview with submerged trunk <br>Photo5: Overview with submerged trunks<br>Photo6: Near the trunks<br>Video supplement: Overview of the dam and reservoir.{% endtrans %}</p>
                        <div id="ign-relief" style="background-image: url('{{asset('ajout/3-carto-them/barrage/ERS1995JERS1995.JPG')}}'); background-repeat:no-repeat; margin-bottom: 20px; padding: 0;background-size: contain;">
                          <img src="{{asset('ajout/3-carto-them/barrage/ERS1999JERS1997.JPG')}}" id="front_ers" style="margin: 0;"/>    
                        <form>
                        <input type="range" id="transparence_ers" name="quantity" min="0" max="100" step="1" value="0">
                        </form> 
                        </div>

                          <div id="barrage2"></div>
						   <p style = "display:grid; justify-content:center; align-content:center;" >
                        <video video width="480" height="360" controls>
                            <source src="{{asset('video/petitso.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
						</p>
        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'img_radar'})}}" style='font-size:24px; float: left;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}  Previous{% endtrans %}</a>
<a href="{{path('chapters',{chapter:'naut_charts'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>


{% block javascript %}
<script>
  $(document).ready(
    function main(){
		getImages('thema/divers','thema1');
        getImages('thema/kourou/complement','veg_kourou');
        getImages('thema/culture','monitoring');
        getImages('thema/geol/legende','geology');
		getImages('thema/geol/ign','geology2');
        getImages('thema/barrage2','barrage2');
		getImages('thema/culture2','monitoring2');




    });
        $('#transparence_ers').on('input',()=>{
        var n=$('#transparence_ers').val();
        $('#front_ers').css("opacity",n/100);;
        affiche(n);
    });
        $('#transparence_veg').on('input',()=>{
        var n=$('#transparence_veg').val();
        $('#front_veg').css("opacity",n/100);;
        affiche(n);
    });
        $('#transparence_veg2').on('input',()=>{
        var n=$('#transparence_veg2').val();
        $('#front_veg2').css("opacity",n/100);;
        affiche(n);
    })
</script>
{% endblock %}